configuration {
	modi: "window,run,ssh,drun,combi";
	width: 75;
	lines: 15;
	columns: 1;
	font: "Fira Code 20";
	location: 2;
	fixed-num-lines: true;
	sort: true;
	sidebar-mode: false;
	combi-modi: "drun,run";
	matching: "fuzzy";
	theme: "~/.config/rofi/sidecar.rasi";
}
