[data]
    laptop = false
    # can be "default", "wal" (to use pywal), or "eink" (to use black and white only)
    colors = "default"
    wifi_interface = ""
    wired_interface = ""
    cpu_thermal_path = ""
