*.log
*.swp
*.pyo
*.pyc
x11/.Xresources
vim/.vim/.netrwhist
vim/.vim/plugins
ipython/.ipython/profile_default/db/
ipython/.ipython/profile_default/history.sqlite
ipython/.ipython/profile_default/startup/
misc/.config/ranger/bookmarks
misc/.config/ranger/history
misc/.config/ranger/tagged
