! Colors Definition

#include "/home/jamie/.colorsX"

! XTerm Configuration

!XTerm*background: #1c1c1c
!XTerm*foreground: #A8A8A8

! URxvt Configuration

URxvt*background: #111111
URxvt*foreground: #a8a8a8

URxvt*depth: 0
URxvt*shading: 100
URxvt*transparent: false
URxvt*transparency: false
URxvt.scrollstyle: rxvt
URxvt.scrollBar: off
*cursorBlink: True
URxvt.letterSpace: 0
URxvt*imLocale: en_US.UTF-8

URxvt*perl-ext-common: default,matcher,clipboard

*.cursorUnderline: False
URxvt*termName: xterm
URxvt*internalBorder: 4

! Fonts

URxvt*font:	-*-tamsyn-medium-r-*-*-17-*-*-*-*-*-iso8859-*
URxvt*boldFont:	-*-tamsyn-medium-r-*-*-17-*-*-*-*-*-iso8859-*

!URxvt*font: -*-envy code r-medium-r-normal-*-17-120-100-100-*-*-iso10646-*
!URxvt*boldFont: -*-envy code r-medium-r-normal-*-17-120-100-100-*-*-iso10646-*

!URxvt*font: -aaron-bitocra13-*-*-normal-*-13-*-*-*-*-*-*-*
!URxvt*boldFont: -aaron-bitocra13-*-*-normal-*-13-*-*-*-*-*-*-*

!URxvt*font: -*-gohufont-medium-r-*-*-14-*-*-*-*-*-iso10646-1,-*-stlarch-medium-r-*-*-10-*-*-*-*-*-iso10646-*
!URxvt*boldFont: -*-gohufont-medium-r-*-*-14-*-*-*-*-*-iso10646-1,-*-stlarch-medium-r-*-*-10-*-*-*-*-*-iso10646-*

!URxvt*font: -*-pixel berry 08/84 ltd.edition-medium-r-normal-*-17-120-100-*-*-*-*-*
!URxvt*boldFont: -*-pixel berry 08/84 ltd.edition-medium-r-normal-*-17-120-100-*-*-*-*-*
!URxvt*font:-*-ubuntu mono-bold-r-normal-*-*-*-*-*-*-*-iso10646-*
!URxvt*boldFont:-*-ubuntu mono-bold-r-normal-*-*-*-*-*-*-*-iso10646-*

XTerm*boldFont: -*-gohufont-medium-r-*-*-14-*-*-*-*-*-iso10646-1
XTerm*font: -*-gohufont-medium-r-*-*-14-*-*-*-*-*-iso10646-1
