! Colors Definition

#include "/home/jamie/.colorsX"

! URxvt Configuration

URxvt*background: #111111
URxvt*foreground: #e8dfd6

URxvt*depth: 0
URxvt*shading: 100
URxvt*transparent: false
URxvt*transparency: false
URxvt.scrollstyle: rxvt
URxvt.scrollBar: off
*cursorBlink: True
URxvt.letterSpace: 0
URxvt*imLocale: en_US.UTF-8 
*.cursorUnderline: False
*.cursorColor: #af865a
URxvt*termName: xterm
URxvt*internalBorder: 4
URxvt*perl-ext-common: default,matcher,clipboard 

! Fonts

URxvt*font:	-*-tamsyn-medium-r-*-*-17-*-*-*-*-*-iso8859-*
URxvt*boldFont:	-*-tamsyn-medium-r-*-*-17-*-*-*-*-*-iso8859-*

!URxvt*font: -aaron-bitocra13-*-*-normal-*-13-*-*-*-*-*-*-*
!URxvt*boldFont: -aaron-bitocra13-*-*-normal-*-13-*-*-*-*-*-*-*

!URxvt*font: -*-gohufont-medium-r-*-*-14-*-*-*-*-*-iso10646-1
!URxvt*boldFont: -*-gohufont-medium-r-*-*-14-*-*-*-*-*-iso10646-1

XTerm*boldFont: -*-gohufont-medium-r-*-*-14-*-*-*-*-*-iso10646-1
XTerm*font: -*-gohufont-medium-r-*-*-14-*-*-*-*-*-iso10646-1
