"---------
" ~/.vimrc

"---------
" Settings

" basics
set nocompatible
set encoding=utf-8
set number
set secure
" ui
set ruler
set noshowmode
set lazyredraw
set showcmd
set nospell
" remove hit-enter prompts for intro
set shortmess+=I
" for :set list
set listchars=tab:▸\ ,extends:❯,precedes:❮,nbsp:␣,eol:→
" theming
syntax on
set synmaxcol=1000 " don't render lines > 300 chars
{{ if not .uses_wal -}}
colorscheme delucks
{{- end }}
if !has('gui_running')
  set t_Co=256
endif
" enables a completion menu over the statusline
set wildmenu
set wildmode=full

" searching
set ignorecase
set smartcase
set incsearch
set hlsearch
" Overrides case search behavior in completion box
set infercase

" editing
set autoindent
set foldmethod=manual
set history=100
set splitright
set laststatus=2
" text wrapping
set wrap
set sidescroll=1
" write swap file after 10 characters
set updatecount=10
" control what we can backspace over in insert
set backspace=indent,eol,start
" let us edit text that's not there in block mode
set virtualedit=block
" tab width
set shiftwidth=2
set tabstop=2
set expandtab
set tw=0

" misc
let g:sh_no_error = 1
let g:markdown_fenced_languages = ['python', 'java', 'sh', 'vim', 'clojure']

" ignore the following files (or give low preference)
set suffixes=.bak,.pyc,.swp,.o,.out,.pyo,.jpg,.png,.gif,.class
let g:netrw_liststyle=2
if executable("rg")
  set grepprg=ag
elseif executable("ack")
  set grepprg=ack
endif

if v:version >= 703
  augroup PythonColumn
    autocmd!
    autocmd FileType python setlocal colorcolumn=160
  augroup END
  set undodir=~/.vim/undo
  set undofile
  set undolevels=1000 "max number of changes that can be undone
  set undoreload=10000 "max number lines to save for undo on buffer reload
endif

let @p = 'o- [](:r!xclip -okJf(lxA) - '

"--------
" Plugins

call plug#begin('~/.vim/plugins')
Plug 'fatih/vim-go', { 'for': 'go' }                  " enables gofmt on :w
Plug 'vim-airline/vim-airline'                        " draws buffers in tabline and colorizes the statusline
Plug 'ctrlpvim/ctrlp.vim'                             " fast fuzzy find buffer menu
Plug 'deris/vim-shot-f'                               " highlights the first match of a character in a line for f/t commands
Plug 'mhinz/vim-signify'                              " display version control hints
Plug 'junegunn/limelight.vim'                         " syntax highlight only the current paragraph
Plug 'benmills/vimux'                                 " send commands to tmux
" Syntax Plugins
Plug 'PotatoesMaster/i3-vim-syntax'
Plug 'gleam-lang/gleam.vim'
Plug 'saltstack/salt-vim'
Plug 'hashivim/vim-terraform'
if executable("elixir")
  Plug 'elixir-lang/vim-elixir', { 'for': 'elixir' }  " better support
endif
{{ if .uses_wal -}}
Plug 'dylanaraps/wal.vim'                             " use the colorscheme generated by pywal
{{- end }}
call plug#end()

"---------------
" Plugin Options

{{ if .uses_wal -}}
colorscheme wal
{{- end }}

" Signify
let g:signify_vcs_list = [ 'git', 'svn' ]
let g:signify_line_highlight = 0
let g:signify_sign_change = '~'
let g:signify_sign_delete = '-'

" CtrlP options
let g:ctrlp_map = '<Leader>q'
let g:ctrlp_cmd = 'CtrlP'

" limelight.vim & vim-illuminate
nmap <silent> gl :Limelight!!<CR>
xmap gl <Plug>(Limelight)
let g:limelight_conceal_ctermfg = 8
let g:limelight_paragraph_span = 0

" Buftabline
let g:buftabline_show=1
let g:buftabline_numbers=0
let g:buftabline_separators=0

" Airline
let g:airline#extensions#tabline#enabled = 1
let g:airline_left_sep=''
let g:airline_right_sep=''
let g:airline_theme='dark'
let g:airline_symbols_ascii = 1
let g:airline#extensions#tabline#left_sep = ''
let g:airline#extensions#tabline#left_alt_sep = ''

" ale
let g:airline#extensions#ale#enabled = 1
"let g:ale_echo_msg_format = '[%linter%] %s'
let g:ale_lint_delay = 2000
let g:ale_lint_on_text_changed = 'never'

" vim-go
let g:go_fmt_command = "goimports"

"---------
" Keybinds

" Enhancements
nmap j gj
nmap k gk
nnoremap <Space> :
nnoremap n nzz
nnoremap J mzJ`z
cmap w!! %!sudo tee > /dev/null %
" improve my search and replace workflow
nmap S :%s//g<LEFT><LEFT>
nmap <expr>  M  ':%s/' . @/ . '//g<LEFT><LEFT>'

" get rid of some keys
nnoremap <F1> <nop>
nnoremap Q <nop>

" Buffer Manipulation
nnoremap <Tab> :b<space>

" way better than default
nmap <left> :bp<CR>
nmap <right> :bn<CR>
nnoremap <PageUp> :bn<CR>
nnoremap <PageDown> :bp<CR>
nmap <up> :%foldopen<CR>
nmap <down> :%foldclose<CR>

" Window movement
nmap <C-h> <C-W><C-H>
nmap <C-j> <C-W><C-J>
nmap <C-k> <C-W><C-K>
nmap <C-l> <C-W><C-L>

" this allows you to change the next and previous matches for the current word
nnoremap c* *Ncgn
nnoremap c# #NcgN

" Make the current buffer suitable for direct copy-pasting out of a terminal window
function! CopyMode()
  setlocal number!
  setlocal ruler!
  setlocal showcmd!
  :SignifyToggle
  :AirlineToggle
  if &laststatus
    set laststatus=0
  else
    set laststatus=2
  endif
endfunction


"---------------
" Leader Mappings
"
"   n         CopyMode
nnoremap <Leader>n :call CopyMode()<CR>
" vimux Commands
"   tc        Tmux Command
nmap <Leader>tc :VimuxPromptCommand<CR>
"   tl        Tmux Last
nmap <Leader>tl :VimuxRunLastCommand<CR>
"   tx        Tmux interrupt
nmap <Leader>tx :VimuxInterruptRunner<CR>
"   tz        Tmux Zoom
nmap <Leader>tz :VimuxZoomRunner<CR>
"   ts        Tmux shell (jump to runner)
nmap <Leader>ts :VimuxInspectRunner<CR>
"   v         version control prev hunk
"   V         version control next hunk
nmap <Leader>v <plug>(signify-next-hunk)
nmap <Leader>V <plug>(signify-prev-hunk)
"   q         CtrlP from current dir
"   a         CtrlP Buffers
nnoremap <silent> <Leader>q :CtrlP<CR>
nnoremap <silent> <Leader><Tab> :CtrlPBuffer<CR>
"   e         Explore menu in a split
nnoremap <silent> <Leader>e :Lexplore<CR>
"   s         Recompute syntax highlighting
nnoremap <silent> <Leader>s :syntax sync fromstart<CR>
"   w         Prev buffer
"   b         Next buffer
nnoremap <silent> <Leader>w :bn<CR>
nnoremap <silent> <Leader>b :bp<CR>
"   c         Close buffer
nnoremap <silent> <Leader>c :bd<CR>
"   h         Focus one buffer to the left
"   j         Focus one buffer down
"   k         Focus one buffer up
"   l         Focus one buffer to the right
nmap <Leader>h <C-W><C-H>
nmap <Leader>j <C-W><C-J>
nmap <Leader>k <C-W><C-K>
nmap <Leader>l <C-W><C-L>
"   H         Move buffer to the left
"   J         Move buffer down
"   K         Move buffer up
"   L         Move buffer to the right
nmap <Leader><S-h> :winc H<CR>
nmap <Leader><S-j> :winc J<CR>
nmap <Leader><S-k> :winc K<CR>
nmap <Leader><S-l> :winc L<CR>
"   /         Clear search highlight
nnoremap <silent> <Leader>/ :noh<CR>
" Copy/paste from X
nmap <Leader>p :r!xclip --clipboard primary -o <CR>
vmap <Leader>y :!xclip -f -sel clip<CR>

"-------------
" Autocommands

" Reload ~/.vimrc after saving
augroup ReloadVimrc
  autocmd!
  autocmd bufwritepost .vimrc source %
augroup END

" jump to last used position in every file
augroup JumpToPosition
  autocmd!
  autocmd bufreadpost * normal `"
augroup END

" resize splits when the terminal is resized
augroup ResizeWindows
  autocmd!
  autocmd VimResized * wincmd =
augroup END

" filetype-specific commands
augroup FileSpecific
  autocmd!
  autocmd FileType python
    \ setlocal shiftwidth=4 |
    \ setlocal tabstop=4 |
    \ setlocal expandtab |
    \ setlocal nowrap
  autocmd FileType sh
    \ setlocal shiftwidth=2 |
    \ setlocal tabstop=2 |
  autocmd FileType go
    \ setlocal nowrap
  autocmd FileType java
    \ setlocal shiftwidth=4 |
    \ setlocal tabstop=4
  autocmd FileType vim
    \ map K :execute('vert help ' . expand("<cword>"))<CR><C-w><C-h>
  autocmd BufRead,BufNewFile *.md
    \ set filetype=markdown |
    \ set complete+=k |
    \ set syntax=off
  autocmd BufRead,BufNewFile /tmp/jrnl*
    \ set syntax=off |
    \ set nowrap
augroup END

" Allow for each machine to override global settings
if !empty(glob("~/.localvimrc"))
  source ~/.localvimrc
endif
