general {
        colors = false
        interval = 5
        color_good = "#9DBA3A"
        color_degraded = "#F5B915"
        color_bad = "#BF1E2D"
}

{{ if ne .wifi_interface "" }}
order += "wireless {{ .wifi_interface}}"
{{- end }}
{{- if ne .wired_interface "" }}
order += "ethernet {{ .wired_interface }}"
{{- end }}
order += "volume master"
order += "load"
{{- if ne .cpu_thermal_path "" }}
order += "cpu_temperature 0"
{{- end }}
{{- if .laptop }}
order += "battery all"
{{- else }}
order += "tztime utc"
{{- end }}
order += "tztime local"

{{ if ne .cpu_thermal_path "" }}
cpu_temperature 0 {
        format = "%degrees°C"
        path = "{{ .cpu_thermal_path }}"
}
{{- end }}

{{ if ne .wifi_interface "" }}
wireless {{ .wifi_interface }} {
        format_up = "{{ .wifi_interface }} %ip"
        format_down = "{{ .wifi_interface }} down"
}
{{- end }}

{{ if ne .wired_interface "" }}
ethernet {{ .wired_interface }} {
        format_up = "{{ .wired_interface }} %ip"
        format_down = "{{ .wired_interface }} down"
}
{{- end }}

battery all {
        format = "%status%percentage (%remaining)"
        format_down = "No battery"
        status_chr = "⚡"
        status_bat = "<"
        status_unk = "? "
        status_full = ""
        low_threshold = 25
}

tztime local {
        timezone = "America/New_York"
        format = "%Z %T %F"
}

tztime utc {
        format = "%Z %T"
        timezone = "Etc/UTC"
}

volume master {
    format = "♪ %volume"
    format_muted = "♪ (%volume)"
}
