[Unit]
Description=i3lock
Before=sleep.target

[Service]
User=jamie
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/jamie/scripts/block

[Install]
WantedBy=sleep.target
