!#include .colors

! Background & foreground colors
urxvt*background: #111111
urxvt*foreground: #e8dfd6
xterm*background: #111111
xterm*foreground: #e8dfd6

! Font
xterm*font: xft:Fira\ Code:pixelsize=14:antialias=true
urxvt*font: xft:Fira\ Code:pixelsize=14:antialias=true
rofi.font: Fira\ Code 14
Xft.antialias: 1
Xft.dpi: 96
! Fallback font
!xterm*font: 9x15
!xterm*boldFont: 7x13
!urxvt*font:	-*-fixed-medium-r-normal-*-16-*-*-*-*-*-iso8859-*
!urxvt*boldFont:	-*-fixed-medium-r-normal-*-16-*-*-*-*-*-iso8859-*

! Independent
*cursorUnderline: False
*cursorColor: Chartreuse
*cursorBlink: True

! Xterm configuration
xterm*locale: True
! Do not use Alt for composition
xterm*eightBitInput: False
xterm*saveLines: 16384
xterm*internalBorder: 4
xterm*multiScroll: True

! URxvt Configuration
URxvt.url-launcher: /usr/bin/browser
! Must be 0 if you want image previews to work
URxvt.depth: 0
URxvt.transparent: False
URxvt.scrollstyle: rxvt
URxvt.scrollBar: off
URxvt.letterSpace: -1
URxvt.imLocale: en_US.UTF-8
URxvt.termName: rxvt-unicode
URxvt.internalBorder: 4
URxvt.perl-ext-common: default,matcher
URxvt.iso14755: False

! rofi configuration
rofi.modi:                           window,run,ssh
! "Window width" Set from: Default
rofi.width:                          75
! "Number of lines" Set from: Default
rofi.lines:                          10
! "Number of columns" Set from: Default
rofi.columns:                        2
! "Location on screen": Top center
rofi.location:                       2
! "Always show number of lines" Set from: Default
rofi.fixed-num-lines:                true
! "Use sorting" Set from: Default
rofi.sort:                           true
! "Use levenshtein sorting also for fuzzy matching"
rofi.levenshtein-sort:               true
! "Enable sidebar-mode" Set from: Default
rofi.sidebar-mode:                   false
! "Set the modi to combine in combi mode" Set from: Default
rofi.combi-modi:                     window,run
! "Set the matching algorithm. (normal, regex, glob, fuzzy)" Set from: Default
rofi.matching:                       fuzzy
! "New style theme file" Set from: Default
rofi.theme:                          gruvbox-dark
