<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="apps-term-menu" label="Terminals">
		<item label="uxterm">
			<action name="Execute">
				<command>uxterm</command>
			</action>
		</item>
		<item label="xterm">
			<action name="Execute">
				<command>xterm</command>
			</action>
		</item>
	</menu>
	<!--menu id="apps-net-menu" label="Internet">
		<item label="Chromium">
			<action name="Execute">
				<execute>chromium</execute>
			</action>
		</item>
		<item label="Firefox">
			<action name="Execute">
				<command>firefox</command>
				<startupnotify>
					<enabled>yes</enabled>
					<wmclass>Firefox</wmclass>
				</startupnotify>
			</action>
		</item>
	</menu-->
	<menu id="apps-fileman-menu" label="File Managers">
		<item label="ranger (uxterm)">
			<action name="Execute">
				<execute>uxterm -e &quot;ranger&quot;</execute>
			</action>
		</item>
	</menu>
	<menu id="system-menu" label="UI">
		<item label="lxappearance">
			<action name="Execute">
				<execute>lxappearance</execute>
			</action>
		</item>
		<item label="Openbox Configuration Manager">
			<action name="Execute">
				<command>obconf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<!-- https://github.com/0x10/obmenu2 perhaps? -->
		<!--item label="Openbox Menu Editor">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item-->
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<separator label="Applications"/>
		<menu id="apps-accessories-menu"/>
		<menu id="apps-development-menu"/>
		<menu id="apps-fun-menu"/>
		<menu id="apps-graphics-menu"/>
		<menu id="apps-net-menu"/>
		<menu id="apps-office-menu"/>
		<menu id="apps-multimedia-menu"/>
		<menu id="apps-term-menu"/>
		<menu id="apps-fileman-menu"/>
		<separator label="System"/>
		<menu id="system-menu"/>
		<separator/>
		<item label="Log Out">
			<action name="Exit">
				<prompt>yes</prompt>
			</action>
		</item>
		<item label="Restart">
			<action name="Restart"/>
		</item>
	</menu>
</openbox_menu>
