[Unit]
Description=feh Background
PartOf=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/sh %h/.fehbg

[Install]
WantedBy=graphical-session.target
