[Unit]
Description=Automatic blur screenlocker
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/xautolock -time 60 -locker %h/bin/block

[Install]
WantedBy=graphical-session.target
