[Unit]
Description=xmodmap
PartOf=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/xmodmap

[Install]
WantedBy=graphical-session.target
